<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onos Cluster Deployer</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<style>
    .nodecard {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px 10px 20px;
    }

    .inactive-pulse {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #FF0000;
        box-shadow: 0px 0px 1px 1px #FF0000;
    }

    .active-pulse {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #00BA83;
        box-shadow: 0px 0px 1px 1px #49D366;
        animation: active-pulse-animation 1s infinite;
    }

    @keyframes active-pulse-animation {
        0% {
            box-shadow: 0 0 0 0px rgb(73, 211, 102, 0.5);
        }

        100% {
            box-shadow: 0 0 0 10px rgb(73, 211, 102, 0);
        }
    }
</style>

<body>
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid gap-2">
                <a class="navbar-brand me-auto" href="#">
                    <img src="/onos.png"
                        alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    Onos Cluster Deployer
                </a>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#resetClusterModal">
                    Reset Cluster
                </button>
                <button class="btn btn-warning" onclick="window.location.href='/logout'">
                    Logout
                </button>
            </div>
        </nav>
        <!-- Available Nodes -->
        <div class="mt-4">
            <h5 class="mt-2">Available Nodes</h5>
            <div class="d-flex flex-row gap-2" id="available_nodes">Wait a few seconds to load data ...</div>
        </div>
        <!-- Atomix Cluster -->
        <div class="mt-4">
            <h5>Atomix Nodes <button class="btn btn-primary btn-sm ms-2" id="atomix_deploy_modal_btn" onclick="openDeployAtomixModal()">Deploy Service</button></h5>
            <div class="d-flex flex-row gap-2" id="atomix_nodes">Wait a few seconds to load data ...</div>
        </div>
        <!-- Onos Cluster -->
        <div class="mt-4">
            <h5 class="mb-1">Onos Nodes 
                <button class="btn btn-primary btn-sm ms-2" onclick="openAddNodeOnosModal()">Add Node</button>
                <button class="btn btn-primary btn-sm ms-2" id="deploy_onos_service" onclick="onosDeployService()">Deploy Service</button>
                <button class="btn btn-danger btn-sm ms-2" id="delete_onos_service" onclick="onosDeleteService()">Delete Service</button>
            </h5>
            <div class="text-muted mb-2">Click to open dashboard & double Click on the ip to remove the node</div>
            <div class="d-flex flex-row gap-2" id="onos_nodes">Wait a few seconds to load data ...</div>
        </div>
    </div>

    <!-- Atomix Cluster Deploy modal -->
    <div class="modal fade" tabindex="-1" id="deployAtomixClusterModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deploy Atomix Cluster</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                        You can't add or remove node after deploy.<br>
                        Any modification required re-deployment / reset.
                    </div>
                    <p class="mt-1">Choose the nodes :</p>
                    <div id="availableAtomixDeployableNodesList">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success disabled" onclick="deployAtomix()" id="atomix_deploy_btn">Deploy Now</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Onos Cluster Deploy modal -->
    <div class="modal fade" tabindex="-1" id="addNodeOnosClusterModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Node to Onos Cluster</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                        You should add node that's available in current network <br>
                        It should be shown as green in the <b>available nodes</b> list.
                    </div>
                    <p class="mt-1">Choose the nodes :</p>
                    <div id="availableOnosDeployableNodesList">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success disabled" onclick="addNodesOnos()" id="add_node_onos_btn">Add Node</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Reset Cluster modal -->
    <div class="modal fade" tabindex="-1" id="resetClusterModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reset Cluster</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>On performing this action, all the onos and atomix nodes will be deleted. You need to deploy again the clusters to resume operation.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="resetCluster()">Reset Cluster</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/bootstrap.bundle.min.js"></script>
    <script src="/jquery.min.js"></script>

    <script>
        let backendUrl = "";
        let availableNodes = [];
        let selectedNodesForAtomixDeploy = [];
        let selectedNodesForOnosDeploy = [];
        let onosCardClickTimer = null;
    </script>

    <script>
        function findNodeNameByIP(ip) {
            for (var i = 0; i < availableNodes.length; i++) {
                if (availableNodes[i].ip == ip)
                    return availableNodes[i].name;
            }
            return "unknown";
        }

        function fetchAvailableNodes() {
            $.ajax({
                url: backendUrl + "/admin/nodes",
                type: "GET",
                success: function (data) {
                    availableNodes = JSON.parse(data);
                    var html = "";
                    for (var i = 0; i < availableNodes.length; i++) {
                        html += '<div class="nodecard border border-2 rounded">';
                        if (availableNodes[i].status)
                            html += '<div class="active-pulse me-3"></div>';
                        else
                            html += '<div class="inactive-pulse me-3"></div>';
                        html += '<div class="d-flex flex-column">';
                        html += '<b>' + availableNodes[i].ip + '</b>';
                        html += '<span>' + availableNodes[i].name + '</span>';
                        html += '</div>';
                        html += '</div>';
                    }
                    $("#available_nodes").html(html);
                }
            });
        }

        function fetchAtomixNodes() {
            $.ajax({
                url: backendUrl + "/admin/atomix/state",
                type: "GET",
                success: function (data) {
                    atomixNode = JSON.parse(data);
                    var html = "";
                    var keys = Object.keys(atomixNode);
                    for (var i = 0; i < keys.length; i++) {
                        html += '<div class="nodecard border border-2 rounded">';
                        if (atomixNode[keys[i]])
                            html += '<div class="active-pulse me-3"></div>';
                        else
                            html += '<div class="inactive-pulse me-3"></div>';
                        html += '<div class="d-flex flex-column">';
                        html += '<b>' + keys[i] + '</b>';
                        html += '<span>' + findNodeNameByIP(keys[i]) + '</span>';
                        html += '</div>';
                        html += '</div>';
                    }
                    if(keys.length > 0) $("#atomix_deploy_modal_btn").hide();
                    else $("#atomix_deploy_modal_btn").show();
                    if(html == "") html = "No atomix nodes deployed yet.";
                    $("#atomix_nodes").html(html);
                }
            });
        }

        function fetchOnosNodes() {
            $.ajax({
                url: backendUrl + "/admin/onos/state",
                type: "GET",
                success: function (data) {
                    onosNode = JSON.parse(data);
                    var html = "";
                    var keys = Object.keys(onosNode);
                    for (var i = 0; i < keys.length; i++) {
                        html += '<div class="nodecard border border-2 rounded" style="cursor: pointer" onclick=\'onClickOnosNodeCard("'+keys[i]+'")\'>';
                        if (onosNode[keys[i]])
                            html += '<div class="active-pulse me-3"></div>';
                        else
                            html += '<div class="inactive-pulse me-3"></div>';
                        html += '<div class="d-flex flex-column">';
                        html += '<b>' + keys[i] + '</b>';
                        html += '<span>' + findNodeNameByIP(keys[i]) + '</span>';
                        html += '</div>';
                        html += '</div>';
                    }
                    if(html == "") html = "No onos nodes deployed yet.";
                    $("#onos_nodes").html(html);
                }
            });
        }

        function onClickOnosNodeCard(ip){
            if (onosCardClickTimer != null) {
                clearTimeout(onosCardClickTimer);
                onosCardClickTimer = null;
                deleteNodeOnos(ip);
            } else {
                onosCardClickTimer = setTimeout(function () {
                    onosCardClickTimer = null;
                    openOnosDashboard(ip);
                }, 300);
            }
        }

        function openOnosDashboard(ip){
            var url = "http://"+ip+":8181/onos/ui/";
            window.open(url, '_blank');
        }

        function resetCluster() {
            $.ajax({
                url: backendUrl + "/admin/reset",
                type: "GET",
                success: function (data) {
                    alert("Cluster resetted, Refresh the page to see the changes");
                    window.location.reload();
                },
                error: function (data) {
                    alert("Error while resetting the cluster");
                    window.location.reload();
                }
            });
        }

        // Atomix deploy -- start
        function openDeployAtomixModal() {
            selectedNodesForAtomixDeploy = [];
            var optionshtml = "";
            for (var i = 0; i < availableNodes.length; i++) {
                if(!availableNodes[i].status) continue;
                optionshtml += '<div class="form-check">';
                optionshtml += '<input class="form-check-input" type="checkbox" value="' + availableNodes[i].ip + '" onclick="selectNodeForAtomixDeploy(\'' + availableNodes[i].ip + '\')"';
                optionshtml += '<label class="form-check-label" for="flexCheckDefault">';
                optionshtml += availableNodes[i].name + " (" + availableNodes[i].ip + ")";
                optionshtml += '</label>';
                optionshtml += '</div>';
            }
            $("#availableAtomixDeployableNodesList").html(optionshtml);
            
            $("#deployAtomixClusterModal").modal("show");
        }

        function selectNodeForAtomixDeploy(ip){
            if(selectedNodesForAtomixDeploy.includes(ip)){
                selectedNodesForAtomixDeploy.splice(selectedNodesForAtomixDeploy.indexOf(ip), 1);
            }else{
                selectedNodesForAtomixDeploy.push(ip);
            }
            if(selectedNodesForAtomixDeploy.length > 0) $("#atomix_deploy_btn").removeClass("disabled");
            else $("#atomix_deploy_btn").addClass("disabled");
        }

        function deployAtomix(){
            if(selectedNodesForAtomixDeploy.length == 0) return;
            var query = "?ips=";
            for(var i = 0; i < selectedNodesForAtomixDeploy.length; i++){
                query += selectedNodesForAtomixDeploy[i];
                if(i != selectedNodesForAtomixDeploy.length - 1) query += ",";
            }
            $.ajax({
                url: backendUrl + "/admin/atomix/add" + query,
                type: "GET",
                success: function (data) {
                    // deploy atomix cluster
                    $.ajax({
                        url: backendUrl + "/admin/atomix/deploy",
                        type: "GET",
                        success: function (data) {
                            alert("Atomix cluster deployed, Refresh the page to see the changes");
                            window.location.reload();
                        },
                        error: function (data) {
                            alert("Error while deploying atomix cluster : "+data.responseText);
                            window.location.reload();
                        }
                    });
                },
                error: function (data) {
                    alert("Error while adding nodes to atomix cluster : "+data.responseText);
                    window.location.reload();
                }
            });
        }

        // Atomix deploy -- end

        // Onos deploy -- start
        function openAddNodeOnosModal() {
            selectedNodesForOnosDeploy = [];
            var optionshtml = "";
            for (var i = 0; i < availableNodes.length; i++) {
                if(!availableNodes[i].status) continue;
                optionshtml += '<div class="form-check">';
                optionshtml += '<input class="form-check-input" type="checkbox" value="' + availableNodes[i].ip + '" onclick="selectNodeForOnosDeploy(\'' + availableNodes[i].ip + '\')"';
                optionshtml += '<label class="form-check-label" for="flexCheckDefault">';
                optionshtml += availableNodes[i].name + " (" + availableNodes[i].ip + ")";
                optionshtml += '</label>';
                optionshtml += '</div>';
            }
            $("#availableOnosDeployableNodesList").html(optionshtml);
            
            $("#addNodeOnosClusterModal").modal("show");
        }

        function selectNodeForOnosDeploy(ip){
            if(selectedNodesForOnosDeploy.includes(ip)){
                selectedNodesForOnosDeploy.splice(selectedNodesForOnosDeploy.indexOf(ip), 1);
            }else{
                selectedNodesForOnosDeploy.push(ip);
            }
            if(selectedNodesForOnosDeploy.length > 0) $("#add_node_onos_btn").removeClass("disabled");
            else $("#add_node_onos_btn").addClass("disabled");
        }

        function addNodesOnos(){
            if(selectedNodesForOnosDeploy.length == 0) return;
            var query = "?ips=";
            for(var i = 0; i < selectedNodesForOnosDeploy.length; i++){
                query += selectedNodesForOnosDeploy[i];
                if(i != selectedNodesForOnosDeploy.length - 1) query += ",";
            }
            $.ajax({
                url: backendUrl + "/admin/onos/add" + query,
                type: "GET",
                success: function (data) {
                    // deploy onos cluster
                    alert("added node to onos cluster, Refresh the page to see the changes");
                    window.location.reload();
                },
                error: function (data) {
                    alert("Error while adding nodes to atomix cluster : "+data.responseText);
                    window.location.reload();
                }
            });
        }

        function deleteNodeOnos(ip){
            var ans = confirm("Are you sure you want to delete node "+ip+" -- "+findNodeNameByIP(ip)+" from onos cluster?");
            if(!ans) return;
            $.ajax({
                url: backendUrl + "/admin/onos/remove?ips=" + ip,
                type: "GET",
                success: function (data) {
                    // deploy onos cluster
                    alert("deleted node from onos cluster, Refresh the page to see the changes");
                    window.location.reload();
                },
                error: function (data) {
                    alert("Error while deleting nodes to onos cluster : "+data.responseText);
                    window.location.reload();
                }
            });      
        }


        function onosDeployService(){
            $.ajax({
                url: backendUrl + "/admin/onos/deploy",
                type: "GET",
                success: function (data) {
                    alert("Onos cluster deployed, Refresh the page to see the changes");
                    window.location.reload();
                },
                error: function (data) {
                    alert("Error while deploying onos cluster : "+data.responseText);
                    window.location.reload();
                }
            });
        }

        function onosDeleteService(){
            $.ajax({
                url: backendUrl + "/admin/onos/delete",
                type: "GET",
                success: function (data) {
                    alert("Onos cluster deleted, Refresh the page to see the changes");
                    window.location.reload();
                },
                error: function (data) {
                    alert("Error while deleting onos cluster : "+data.responseText);
                    window.location.reload();
                }
            });
        }

        // Onos status
        function fetchOnosStatus(){
            $.ajax({
                url: backendUrl + "/admin/onos/status",
                type: "GET",
                success: function (data) {
                    if(data == "true"){
                        $("#deploy_onos_service").hide();
                        $("#delete_onos_service").show();
                    }else{
                        $("#deploy_onos_service").show();
                        $("#delete_onos_service").hide();
                    }
                }
            });
        }


        $("#deploy_onos_service").hide();
        $("#delete_onos_service").hide();

        fetchAvailableNodes();
        setInterval(fetchAvailableNodes, 10000);

        setTimeout(fetchAtomixNodes, 2000);
        setInterval(fetchAtomixNodes, 10000);

        setTimeout(fetchOnosNodes, 2000);
        setInterval(fetchOnosNodes, 10000);

        fetchOnosStatus();
        setInterval(fetchOnosStatus, 10000);
    </script>
</body>

</html>